


.app-layout{
    min-height: 100vh;
    display:flex ;
    flex-direction: column;
    }
    
    .app-header, .app-footer{
      height:10vh;
      width: 100%;
      
    }
    
    .app-main{
    
    flex-grow: 1;
  
    }


    @media (max-width: 768px) {
        .app-main{
    
            flex-grow: 1;
            margin-top: 300px
            
            }
    }